html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %graphik-400;
  font-size: 24px;
  line-height: 1.6;
  background-color: #fff;
  color: $accent;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.hide-overflow {
  overflow-y: hidden;
}

.title {
  @extend %graphik-500;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.logo {
  @extend %graphik-300;
  font-size: 28px;
}

.section {
  &__text {
    margin-left: 10%;
    max-width: 660px;
    position: relative;
    overflow: hidden;
    p {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
  &__pic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }
  img {
    pointer-events: none;
  }
}

.anim-text,
.anim-pic {
  will-change: transform, opacity;
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid $extra;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.35s;
  }
}

.text-link {
  @extend %graphik-500;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

#fp-nav {
  left: 48px !important;
  ul li {
    height: 16px;
    width: auto;
    margin: 0;
    a {
      span,
      &.active span {
        width: 16px;
        height: 16px;
        margin: 0;
        transform: translate(-50%, -50%);
        background-color: $gray;
        transition: all 0.3s;
      }
      &.active span {
        margin: 0;
        background-color: $extra;
      }
    }
    &:hover a span,
    &:hover a.active span {
      width: 16px;
      height: 16px;
      margin: 0;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  &__arrow {
    svg {
      transition: all 0.2s ease-in-out;
    }
    &.disable {
      cursor: unset;
      svg {
        fill: #d2d2d2;
      }
    }
  }
  &__prev {
    margin-right: 30px;
  }
}
