$accent: #530619;
$extra: #ffbb1a;
$extra-mono: #ffd267;
$gray: #ededed;

%graphik-300 {
  font-family: "Graphik-Light", sans-serif;
}

%graphik-400 {
  font-family: "Graphik-Regular", sans-serif;
}

%graphik-500 {
  font-family: "Graphik-Medium", sans-serif;
}

%graphik-700 {
  font-family: "Graphik-Bold", sans-serif;
}
