@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

//----------- header -----------

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 40px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__group {
    display: flex;
    align-items: center;
    z-index: 200;
    &.menu__group--active {
      svg {
        fill: #fff;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    height: 48px;
    width: 48px;
    svg {
      display: block;
      transition: all 0.3s;
    }
    &:hover {
      svg {
        opacity: 0.7;
      }
    }
  }
  &__btn {
    width: 48px;
    height: 48px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    transition: all 0.3s;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 3px;
      background-color: $accent;
      transition: all 0.25s ease-out 0.1s;
    }
    &::before {
      top: 16px;
    }
    &::after {
      bottom: 16px;
    }
    &--active {
      &::before,
      &::after {
        background-color: #fff;
      }
      &::before {
        transform: rotate(-45deg) translate(-5px, 4px);
      }
      &::after {
        transform: rotate(45deg) translate(-5px, -4px);
      }
    }
    &:hover {
      opacity: 0.65;
    }
  }
  &__rightside {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    will-change: transform;
    transform: translate3d(100%, 0, 0);
    transition: all 0.25s linear;
    padding: 120px 40px 20px;
    background-color: $accent;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }
  &__list {
    text-align: right;
  }
  &__item {
    padding: 30px 0;
  }
  &__link {
    display: inline-block;
    @extend %graphik-500;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 10px;
    span {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $extra;
        transition: all 0.45s ease-in-out;
      }
    }
    &:hover span::before {
      width: 100%;
    }
  }
}

.anim-control {
  display: inline-block;
  font-size: 18px;
  text-align: right;
  padding-right: 34px;
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
  &--disabled {
    background-image: url("../images/icons/cross.svg");
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

//----------- intro -----------

.intro {
  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 32px;
  }
  &__btn {
    display: inline-block;
    @extend %graphik-300;
    line-height: 1.1;
    padding-right: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 19px;
      height: 19px;
      background-image: url("../images/icons/arrow-down.svg");
      background-repeat: no-repeat;
    }
  }
}

.parallax {
  position: relative;
  width: 550px;
  height: 550px;
  &__wrapper {
    width: 100%;
    height: 100%;
  }
  &__el {
    position: absolute;
    &--circle,
    &--page {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--left {
      top: 36.9%;
      left: 6%;
    }
    &--right {
      top: 42.7%;
      right: 6%;
    }
  }
}

//----------- portfolio -----------

.portfolio {
  &__preview {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }
  .fp-tableCell {
    position: relative;
  }

  .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
  }
  .fp-slide {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.45s ease-in-out;
  }
  .fp-slide.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__content p {
    margin-bottom: 22px;
  }
  &__suptitle {
    @extend %graphik-300;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 8px;
  }
  &__title {
    @extend %graphik-500;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 12px;
  }
  &__link {
    display: inline-block;
    padding: 16px 144px 16px 0;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      z-index: 5;
      right: 28px;
      width: 86px;
      height: 9px;
      background-image: url("../images/icons/arrow-right.svg");
      background-repeat: no-repeat;
      transition: all 0.2s linear;
    }
    &::after {
      right: 0;
      width: 56px;
      height: 56px;
      background-color: $extra-mono;
      border-radius: 50%;
    }
    &:hover::before {
      right: 20px;
    }
  }
  &__img {
    width: 550px;
    height: 100%;
    object-fit: cover;
  }
  .section__pic {
    box-shadow: 0 0 25px #949494;
  }
  .section__pic .link-focus {
    &::after {
      content: "Перейти";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @extend %graphik-500;
      font-size: 22px;
      line-height: 1;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s;
      padding-right: 32px;
      background-image: url("../images/icons/external-link.svg");
      background-repeat: no-repeat;
      background-position: bottom 3px right 1px;
    }
    &:hover::after,
    &:focus-visible::after {
      opacity: 1;
      visibility: visible;
    }
    &:hover::before,
    &:focus-visible::before {
      background-color: rgba(#222, 0.6);
    }
  }
}

//----------- skills -----------

.skills {
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__show-btn {
    display: none;
    border: 2px solid $accent;
    border-radius: 6px;
    padding: 9px 18px;
    margin: 32px 0 3px;
  }
  &__stack {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 48px 56px;
    justify-content: center;
    width: 550px;
  }
  &__tech {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: end;
    height: 100%;
    figcaption {
      padding-top: 12px;
      font-size: 16px;
    }
  }
  &__tech-logo {
    width: 77px;
    height: 100%;
  }
}

//----------- contact -----------

.contact {
  p {
    margin-bottom: 48px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    svg {
      transition: all 0.3s;
    }
    &--mail {
      width: 100%;
      margin-bottom: 12px;
      .contact__link {
        display: inline-block;
        letter-spacing: 0.02em;
        transition: all 0.25s;
        &:hover {
          color: $extra;
        }
      }
    }
    &--tg:hover {
      svg {
        fill: #1e96c8;
      }
    }
    &--whatsapp {
      &:hover {
        svg {
          fill: #20b038;
        }
      }
    }
    &:not(&.contact__item--mail) {
      margin-right: 16px;
      .contact__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
      }
    }
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

@import "media";
